.vscode
src/API_fetcher/__pycache__
src/UI/__pycache__
src/UI/controller/__pycache__
src/API_fetcher/data_access/__pycache__
src/UI/data_access/__pycache__
src/API_fetcher/tests/__pycache__
src/.cache.sqlite
src/API_fetcher/.cache.sqlite
src/API_fetcher/api_tester.py